@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html{
    
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Pontano Sans", sans-serif;
    background-color: #0D1117;
}



.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container .firts{
    width: 100%;
    margin: 0px 150px 0px 150px;
}
.container .firts .icon{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    margin:0px 150px 0px  150px;
}

.container .firts .icon i{
    font-size: 40px;
    cursor: pointer;
    color: white;
    ;
}
.container .firts .icon h4{
    cursor: pointer;
    color: white;
   
}
.container .firts .icon i:hover{
    color: #2F81F7;
}
.container .firts .icon h4:hover{
    color: #2F81F7;
}

.container .firts .second{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    margin:0px 150px 0px  150px;
}
.container .firts .second h1{
    color: white;
    margin: 22px 0px 10px 0px;
}
.container .firts .second p{
    color: #848D97;
    font-size: 24px;
    margin: 0px 0px 50px 0px;
    
}


.container .firts .second .hijo1, .hijo2{
    width: 45%;
}
.container .firts .second .hijo1 .contenedorA{
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #238636;
    border-radius: 5px;
    
}

.container .firts .second .hijo1 a{
    color: white;
    text-decoration: none;
    margin: 0;
}

.container .firts .second .hijo1 .contenedorA  :hover{
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 164, 75);
    border-radius: 5px;
    
}

.container .firts .second .hijo1 .hijo2{
    color: white;
    text-decoration: none;
    margin: 0;

}
.container .firts .second  .hijo2 img{
    width: 350px;
    padding-left: 100px;
}
.container .cousers .contenidocousers{
    margin:0px 150px 0px  150px;
   
    height: 400px;



}
.container .cousers .contenidocousers h2{
   color: rgb(255, 255, 255);



}
.container .cousers .contenidocousers h3{
    color: rgb(255, 255, 255);
 
 
 
 }
